asgiref
attrs
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-rest-auth
Django
django-allauth
django-cron
django-environ
django-extensions
djangorestframework
drf-spectacular
environ
idna
inflection
jsonschema
oauthlib
Pillow
pycparser
PyJWT
pyrsistent
python3-openid
pytz
PyYAML
requests
requests-oauthlib
sqlparse
tzdata
uritemplate
urllib3
